/* .time-row {
  padding: 3px;
  font-size: 13px
} */

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

label input {
  margin: 5px;
}


#popUp{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    overflow:hidden;
    position:fixed;
    top:0px;
}
